@page "/loginControl"
@using DAL

<CascadingAuthenticationState>

    <AuthorizeView>
        <Authorized>
            <div class="form-group">
                <a style="font-family:'Agency FB'; font-size:20px; color:white">
                    <i class="fa fa-user-circle" style="color: #a2c3c3; font-size:40px;"></i>
                @context.User.Identity.Name</a>
                <a class="form-control btn btn-outline-success" href="/logout?returnUrl=/LogInPage" target="_top">
                    <i class="fa fa-sign-out-alt" aria-hidden="true" /> &nbsp; Logout
                </a>
            </div>
            
        </Authorized>

        <NotAuthorized>
            <div class="form-group text-lg-center">
                <a class="form-control btn btn-outline-info" href="/LogInPage" target="_top">
                    <i class="fa fa-sign-in-alt" aria-hidden="true" /> &nbsp; Login
                </a>
            </div>
        </NotAuthorized>
    </AuthorizeView>

</CascadingAuthenticationState>