@page "/loginControl"
@using DAL

<CascadingAuthenticationState>

    <AuthorizeView>
        <Authorized>
            <b>Bienvenido, @context.User.Identity.Name!</b>
            <a class="ml-md-auto btn btn-primary" href="/logout?returnUrl=/LogInPage" target="_top">Logout</a>
        </Authorized>

        <NotAuthorized>
            <a class="ml-md-auto btn btn-primary" href="/LogInPage" target="_top">Login</a>
        </NotAuthorized>
    </AuthorizeView>

</CascadingAuthenticationState>

@code{
    public static int UsuarioId;

    public static int GetUsuarioId(string Usuario)
    {
        int id;
        Contexto db = new Contexto();

        try
        {
            id = db.Usuarios.Where(A => A.NombreUsuario.Equals(Usuario)).Select(A => A.UsuarioId).FirstOrDefault();
        }
        catch (Exception)
        {
            throw;
        }
        return id;
    }
}