@inherits LayoutComponentBase

@using Blazored.Toast.Configuration

<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="3"
                IconType="IconType.Material"
                ErrorIcon="error_outline"
                InfoIcon="school"
                SuccessIcon="done_outline"
                WarningIcon="warning"
                ShowProgressBar="@true" />

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4 bg-success">
        <h4 style="font-family:Georgia; color:white; font-style:italic">Cosechamos tu futuro</h4>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
