@inherits LayoutComponentBase

@using Blazored.Toast.Configuration

<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="3"
                IconType="IconType.Material"
                ErrorIcon="error_outline"
                InfoIcon="help_outline"
                SuccessIcon="done_outline"
                WarningIcon="warning"
                ShowProgressBar="@true" />

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">

    <div class="top-row px-4 bg-transparent">
        <h3 style="font-family:Georgia; color:#47d147; font-style:italic">¡Cosechamos futuro!</h3>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
