<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Agrosoft</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-1">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>

        @*Registros*@
        <li class="nav-item px-1">
            <NavLink class="nav-link" href="" @onclick="ToggleRegistrosMenu">
                <span class="oi oi-file" aria-hidden="true"></span> Registros &nbsp; <span class="fa fa-chevron-down"></span>
            </NavLink>
            @if (expandirRegistrosMenu)
            {
                <ul class="nav flex-column">
                    <li class="nav-item px-1">
                        <NavLink class="nav-link" href="RegistroUsuarios" @onclick="Ocultar">
                            &nbsp; &nbsp; <span class="fa fa-users" aria-hidden="true"></span> &nbsp; Usuarios
                        </NavLink>
                    </li>

                    <li class="nav-item px-1">
                        <NavLink class="nav-link" href="RegistroProveedores" @onclick="Ocultar">
                            &nbsp; &nbsp; <span class="fa fa-user-tie" aria-hidden="true"></span> &nbsp; Proveedores
                        </NavLink>
                    </li>

                    <li class="nav-item px-1">

                        <NavLink class="nav-link" href="RegistroClientes" @onclick="Ocultar">
                            &nbsp; &nbsp; <span class="fa fa-user" aria-hidden="true"></span> &nbsp; Clientes
                        </NavLink>
                    </li>

                    <li class="nav-item px-1">
                        <NavLink class="nav-link" href="RegistroCobros" @onclick="Ocultar">
                            &nbsp; &nbsp; <span class="fa fa-money-check-alt" aria-hidden="true"></span> &nbsp; Cobros
                        </NavLink>
                    </li>

                    <li class="nav-item px-1">
                        <NavLink class="nav-link" href="RegistroProductos" @onclick="Ocultar">
                            &nbsp; &nbsp; <span class="fa fa-store" aria-hidden="true"></span> &nbsp; Productos
                        </NavLink>
                    </li>

                    <li class="nav-item px-1">
                        <NavLink class="nav-link" href="RegistroMarcas" @onclick="Ocultar">
                            &nbsp; &nbsp; <span class="fab fa-slack" aria-hidden="true"></span> &nbsp; Marcas
                        </NavLink>
                    </li>

                    <li class="nav-item px-1">
                        <NavLink class="nav-link" href="RegistroCompraProductos" @onclick="Ocultar">
                            &nbsp; &nbsp; <span class="fa fa-cart-plus" aria-hidden="true"></span> &nbsp; Compra productos
                        </NavLink>
                    </li>

                    <li class="nav-item px-1">
                        <NavLink class="nav-link" href="RegistroVentaProductos" @onclick="Ocultar">
                            &nbsp; &nbsp; <span class="fa fa-shopping-bag" aria-hidden="true"></span> &nbsp; Venta productos
                        </NavLink>
                    </li>
                </ul>
            }
        </li>

        @*Consultas*@
        <li class="nav-item px-1">
            <NavLink class="nav-link" href="" @onclick="ToggleConsultasMenu">
                <span class="oi oi-magnifying-glass" aria-hidden="true"></span> Consultas &nbsp; <span class="fa fa-chevron-down"></span>
            </NavLink>
            @if (expandirConsultasMenu)
            {
                <ul class="nav flex-column">
                    <li class="nav-item px-1">
                        <NavLink class="nav-link" href="ConsultaUsuarios" @onclick="Ocultar">
                            &nbsp; &nbsp; <span class="fa fa-users" aria-hidden="true"></span> &nbsp; Usuarios
                        </NavLink>
                    </li>

                    <li class="nav-item px-1">
                        <NavLink class="nav-link" href="ConsultaProveedores" @onclick="Ocultar">
                            &nbsp; &nbsp; <span class="fa fa-user-tie" aria-hidden="true"></span> &nbsp; Proveedores
                        </NavLink>
                    </li>

                    <li class="nav-item px-1">

                        <NavLink class="nav-link" href="ConsultaClientes" @onclick="Ocultar">
                            &nbsp; &nbsp; <span class="fa fa-user" aria-hidden="true"></span> &nbsp; Clientes
                        </NavLink>
                    </li>

                    <li class="nav-item px-1">
                        <NavLink class="nav-link" href="ConsultaCobros" @onclick="Ocultar">
                            &nbsp; &nbsp; <span class="fa fa-money-check-alt" aria-hidden="true"></span> &nbsp; Cobros
                        </NavLink>
                    </li>

                    <li class="nav-item px-1">
                        <NavLink class="nav-link" href="ConsultaProductos" @onclick="Ocultar">
                            &nbsp; &nbsp; <span class="fa fa-store" aria-hidden="true"></span> &nbsp; Productos
                        </NavLink>
                    </li>

                    <li class="nav-item px-1">
                        <NavLink class="nav-link" href="ConsultaMarcas" @onclick="Ocultar">
                            &nbsp; &nbsp; <span class="fab fa-slack" aria-hidden="true"></span> &nbsp; Marcas
                        </NavLink>
                    </li>

                    <li class="nav-item px-1">
                        <NavLink class="nav-link" href="ConsultaCompraProductos" @onclick="Ocultar">
                            &nbsp; &nbsp; <span class="fa fa-cart-plus" aria-hidden="true"></span> &nbsp; Compra productos
                        </NavLink>
                    </li>

                    <li class="nav-item px-1">
                        <NavLink class="nav-link" href="ConsultaVentaProductos" @onclick="Ocultar">
                            &nbsp; &nbsp; <span class="fa fa-shopping-bag" aria-hidden="true"></span> &nbsp; Venta productos
                        </NavLink>
                    </li>
                </ul>
            }
        </li>

        @*Reportes*@
        <li class="nav-item px-1">
            <NavLink class="nav-link" href="" @onclick="ToggleReportesMenu">
                <span class="oi oi-bar-chart" aria-hidden="true"></span> Reportes &nbsp; <span class="fa fa-chevron-down"></span>
            </NavLink>
            @if (expandirReportesMenu)
            {
                <ul class="nav flex-column">
                    <li class="nav-item px-1">
                        <NavLink class="nav-link" href="ReporteUsuarios">
                            &nbsp; &nbsp; <span class="fa fa-users" aria-hidden="true"></span> &nbsp; Usuarios
                        </NavLink>
                    </li>

                    <li class="nav-item px-1">
                        <NavLink class="nav-link" href="ReporteProveedores">
                            &nbsp; &nbsp; <span class="fa fa-user-tie" aria-hidden="true"></span> &nbsp; Proveedores
                        </NavLink>
                    </li>

                    <li class="nav-item px-1">

                        <NavLink class="nav-link" href="ReporteClientes">
                            &nbsp; &nbsp; <span class="fa fa-user" aria-hidden="true"></span> &nbsp; Clientes
                        </NavLink>
                    </li>

                    <li class="nav-item px-1">
                        <NavLink class="nav-link" href="ReporteCobros">
                            &nbsp; &nbsp; <span class="fa fa-money-check-alt" aria-hidden="true"></span> &nbsp; Cobros
                        </NavLink>
                    </li>

                    <li class="nav-item px-1">
                        <NavLink class="nav-link" href="ReporteProductos">
                            &nbsp; &nbsp; <span class="fa fa-store" aria-hidden="true"></span> &nbsp; Productos
                        </NavLink>
                    </li>

                    <li class="nav-item px-1">
                        <NavLink class="nav-link" href="ReporteMarcas" @onclick="Ocultar">
                            &nbsp; &nbsp; <span class="fab fa-slack" aria-hidden="true"></span> &nbsp; Marcas
                        </NavLink>
                    </li>

                    <li class="nav-item px-1">
                        <NavLink class="nav-link" href="ReporteCompraProductos">
                            &nbsp; &nbsp; <span class="fa fa-cart-plus" aria-hidden="true"></span> &nbsp; Compra productos
                        </NavLink>
                    </li>

                    <li class="nav-item px-1">
                        <NavLink class="nav-link" href="ReporteVentaProductos">
                            &nbsp; &nbsp; <span class="fa fa-shopping-bag" aria-hidden="true"></span> &nbsp; Venta productos
                        </NavLink>
                    </li>
                </ul>
            }
        </li>
    </ul>

    <div class="card-footer text-center" style="position:fixed; bottom:0; width:250px">
        <LoginControl />
    </div>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool expandirRegistrosMenu = false;
    private bool expandirConsultasMenu = false;
    private bool expandirReportesMenu = false;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void Ocultar()
    {
        expandirRegistrosMenu = false;
        expandirConsultasMenu = false;
        expandirReportesMenu = false;
    }

    private void ToggleRegistrosMenu()
    {
        expandirRegistrosMenu = !expandirRegistrosMenu;
        expandirConsultasMenu = false;
        expandirReportesMenu = false;
    }

    private void ToggleConsultasMenu()
    {
        expandirConsultasMenu = !expandirConsultasMenu;
        expandirRegistrosMenu = false;
        expandirReportesMenu = false;
    }

    private void ToggleReportesMenu()
    {
        expandirReportesMenu = !expandirReportesMenu;
        expandirRegistrosMenu = false;
        expandirConsultasMenu = false;
    }
}
