<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Agrosoft</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-1">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>

        @*Registros*@
        <li class="nav-item px-1">
            <NavLink class="nav-link" @onclick="ToggleRegistrosMenu">
                <span class="oi oi-file" aria-hidden="true"></span> Registros <span class="oi oi-chevron-bottom"></span>
            </NavLink>
            @if (collapseRegistrosMenu)
            {
                <ul class="children">
                    <li class="nav-item px-2">
                        <NavLink class="nav-link" href="RegistroUsuarios">
                            <span class="bi bi-person-circle" aria-hidden="true"></span> Usuarios
                        </NavLink>
                    </li>

                    <li class="nav-item px-2">
                        <NavLink class="nav-link" href="RegistroProveedores">
                            <span class="bi bi-person-lines-fill" aria-hidden="true"></span> Proveedores
                        </NavLink>
                    </li>

                    <li class="nav-item px-2">
                        <NavLink class="nav-link" href="RegistroClientes">
                            <span class="bi bi-person-plus-fill" aria-hidden="true"></span> Clientes
                        </NavLink>
                    </li>

                    <li class="nav-item px-2">
                        <NavLink class="nav-link" href="RegistroCobros">
                            <span class="oi oi-dollar" aria-hidden="true"></span> Cobros
                        </NavLink>
                    </li>

                    <li class="nav-item px-2">
                        <NavLink class="nav-link" href="RegistroProductos">
                            <span class="icon-shop_two" aria-hidden="true"></span> Productos
                        </NavLink>
                    </li>

                    <li class="nav-item px-2">
                        <NavLink class="nav-link" href="RegistroCompraProductos">
                            <span class="bi bi-cart-plus" aria-hidden="true"></span> Compra productos
                        </NavLink>
                    </li>

                    <li class="nav-item px-2">
                        <NavLink class="nav-link" href="RegistroVentaProductos">
                            <span class="bi bi-shop" aria-hidden="true"></span> Venta productos
                        </NavLink>
                    </li>
                </ul>
            }
        </li>

        @*Consultas*@
        <li class="nav-item px-1">
            <NavLink class="nav-link" @onclick="ToggleConsultasMenu">
                <span class="oi oi-magnifying-glass" aria-hidden="true"></span> Consultas <span class="oi oi-chevron-bottom"></span>
            </NavLink>
            @if (collapseConsultasMenu)
            {
                <ul class="children">
                    <li class="nav-item px-2">
                        <NavLink class="nav-link" href="ConsultaUsuarios">
                            <span class="bi bi-person-circle" aria-hidden="true"></span> Usuarios
                        </NavLink>
                    </li>

                    <li class="nav-item px-2">
                        <NavLink class="nav-link" href="ConsultaProveedores">
                            <span class="bi bi-person-lines-fill" aria-hidden="true"></span> Proveedores
                        </NavLink>
                    </li>

                    <li class="nav-item px-2">
                        <NavLink class="nav-link" href="ConsultaClientes">
                            <span class="bi bi-person-plus-fill" aria-hidden="true"></span> Clientes
                        </NavLink>
                    </li>

                    <li class="nav-item px-2">
                        <NavLink class="nav-link" href="ConsultaCobros">
                            <span class="oi oi-dollar" aria-hidden="true"></span> Cobros
                        </NavLink>
                    </li>

                    <li class="nav-item px-2">
                        <NavLink class="nav-link" href="ConsultaProductos">
                            <span class="icon-shop_two" aria-hidden="true"></span> Productos
                        </NavLink>
                    </li>

                    <li class="nav-item px-2">
                        <NavLink class="nav-link" href="ConsultaCompraProductos">
                            <span class="bi bi-cart-plus" aria-hidden="true"></span> Compra productos
                        </NavLink>
                    </li>

                    <li class="nav-item px-2">
                        <NavLink class="nav-link" href="ConsultaVentaProductos">
                            <span class="bi bi-shop" aria-hidden="true"></span> Venta productos
                        </NavLink>
                    </li>
                </ul>
            }
        </li>

        @*Reportes*@
        <li class="nav-item px-1">
            <NavLink class="nav-link" @onclick="ToggleReportesMenu">
                <span class="oi oi-bar-chart" aria-hidden="true"></span> Reportes <span class="oi oi-chevron-bottom"></span>
            </NavLink>
            @if (collapseReportesMenu)
            {
                <ul class="children">
                    <li class="nav-item px-2">
                        <NavLink class="nav-link" href="ReporteUsuarios">
                            <span class="bi bi-person-circle" aria-hidden="true"></span> Usuarios
                        </NavLink>
                    </li>

                    <li class="nav-item px-2">
                        <NavLink class="nav-link" href="ReporteProveedores">
                            <span class="bi bi-person-lines-fill" aria-hidden="true"></span> Proveedores
                        </NavLink>
                    </li>

                    <li class="nav-item px-2">
                        <NavLink class="nav-link" href="ReporteClientes">
                            <span class="bi bi-person-plus-fill" aria-hidden="true"></span> Clientes
                        </NavLink>
                    </li>

                    <li class="nav-item px-2">
                        <NavLink class="nav-link" href="ReporteCobros">
                            <span class="oi oi-dollar" aria-hidden="true"></span> Cobros
                        </NavLink>
                    </li>

                    <li class="nav-item px-2">
                        <NavLink class="nav-link" href="ReporteProductos">
                            <span class="icon-shop_two" aria-hidden="true"></span> Productos
                        </NavLink>
                    </li>

                    <li class="nav-item px-2">
                        <NavLink class="nav-link" href="ReporteCompraProductos">
                            <span class="add_shopping_cart" aria-hidden="true"></span> Compra productos
                        </NavLink>
                    </li>

                    <li class="nav-item px-2">
                        <NavLink class="nav-link" href="ReporteVentaProductos">
                            <span class="bi bi-shop" aria-hidden="true"></span> Venta productos
                        </NavLink>
                    </li>
                </ul>
            }
        </li>

    </ul>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool collapseRegistrosMenu = false;
    private bool collapseConsultasMenu = false;
    private bool collapseReportesMenu = false;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void ToggleRegistrosMenu()
    {
        collapseRegistrosMenu = !collapseRegistrosMenu;
        collapseConsultasMenu = false;
        collapseReportesMenu = false;
    }

    private void ToggleConsultasMenu()
    {
        collapseConsultasMenu = !collapseConsultasMenu;
        collapseRegistrosMenu = false;
        collapseReportesMenu = false;
    }

    private void ToggleReportesMenu()
    {
        collapseReportesMenu = !collapseReportesMenu;
        collapseRegistrosMenu = false;
        collapseConsultasMenu = false;
    }
}
