<div class="top-row pl-4 navbar navbar-dark">
    <a style="font-size: 1.5rem; color: white; font-family: 'Agency FB'; margin-left:25%;">Agrosoft</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-0">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="oi oi-home" aria-hidden="true"></i> &emsp; &emsp; Menu inicio
            </NavLink>
        </li>

        @*Registros*@
        <li class="nav-item px-0">
            <NavLink class="nav-link" @onclick="ToggleRegistrosMenu" style="cursor:pointer">
                <i class="oi oi-file" aria-hidden="true"></i> &emsp; &emsp; Registros<span style="margin-left:31%" class=@imgRegistros></span>
            </NavLink>
            @if (expandirRegistrosMenu)
            {
                <style>
                    .sidebar{
                        height:790px;
                    }
                </style>

                <ul class="nav flex-column">
                    <li class="nav-fill-up px-1" style="margin-top:10px">
                        <NavLink class="nav-link" href="RegistroUsuarios" @onclick="Ocultar">
                            &nbsp; &nbsp; <span class="fa fa-users" aria-hidden="true"></span> &nbsp; Usuarios
                        </NavLink>
                    </li>

                    <li class="nav-fill px-1">
                        <NavLink class="nav-link" href="RegistroProveedores" @onclick="Ocultar">
                            &nbsp; &nbsp; <span class="fa fa-user-tie" aria-hidden="true"></span> &nbsp; Proveedores
                        </NavLink>
                    </li>

                    <li class="nav-fill px-1">

                        <NavLink class="nav-link" href="RegistroClientes" @onclick="Ocultar">
                            &nbsp; &nbsp; <span class="fa fa-user" aria-hidden="true"></span> &nbsp; Clientes
                        </NavLink>
                    </li>

                    <li class="nav-fill px-1">
                        <NavLink class="nav-link" href="RegistroCobros" @onclick="Ocultar">
                            &nbsp; &nbsp; <span class="fa fa-money-check-alt" aria-hidden="true"></span> &nbsp; Cobros
                        </NavLink>
                    </li>

                    <li class="nav-fill px-1">
                        <NavLink class="nav-link" href="RegistroProductos" @onclick="Ocultar">
                            &nbsp; &nbsp; <span class="fa fa-store" aria-hidden="true"></span> &nbsp; Productos
                        </NavLink>
                    </li>

                    <li class="nav-fill px-1">
                        <NavLink class="nav-link" href="RegistroMarcas" @onclick="Ocultar">
                            &nbsp; &nbsp; <span class="fab fa-slack" aria-hidden="true"></span> &nbsp; Marcas
                        </NavLink>
                    </li>

                    <li class="nav-fill px-1">
                        <NavLink class="nav-link" href="RegistroCompraProductos" @onclick="Ocultar">
                            &nbsp; &nbsp; <span class="fa fa-cart-plus" aria-hidden="true"></span> &nbsp; Compra productos
                        </NavLink>
                    </li>

                    <li class="nav-fill-down px-1">
                        <NavLink class="nav-link" href="RegistroVentaProductos" @onclick="Ocultar">
                            &nbsp; &nbsp; <span class="fa fa-shopping-bag" aria-hidden="true"></span> &nbsp; Venta productos
                        </NavLink>
                    </li>
                </ul>
            }
        </li>

        @*Consultas*@
        <li class="nav-item px-0">
            <NavLink class="nav-link" @onclick="ToggleConsultasMenu" style="cursor:pointer">
                <i class="oi oi-magnifying-glass" aria-hidden="true"></i> &emsp; &emsp; Consultas <span style="margin-left:30%" class=@imgConsultas></span>
            </NavLink>
            @if (expandirConsultasMenu)
            {
                <style>
                    .sidebar{
                        height:790px;
                    }
                </style>

                <ul class="nav flex-column">
                    <li class="nav-fill-up px-1" style="margin-top:10px">
                        <NavLink class="nav-link" href="ConsultaUsuarios" @onclick="Ocultar">
                            &nbsp; &nbsp; <span class="fa fa-users" aria-hidden="true"></span> &nbsp; Usuarios
                        </NavLink>
                    </li>

                    <li class="nav-fill px-1">
                        <NavLink class="nav-link" href="ConsultaProveedores" @onclick="Ocultar">
                            &nbsp; &nbsp; <span class="fa fa-user-tie" aria-hidden="true"></span> &nbsp; Proveedores
                        </NavLink>
                    </li>

                    <li class="nav-fill px-1">
                        <NavLink class="nav-link" href="ConsultaClientes" @onclick="Ocultar">
                            &nbsp; &nbsp; <span class="fa fa-user" aria-hidden="true"></span> &nbsp; Clientes
                        </NavLink>
                    </li>

                    <li class="nav-fill px-1">
                        <NavLink class="nav-link" href="ConsultaCobros" @onclick="Ocultar">
                            &nbsp; &nbsp; <span class="fa fa-money-check-alt" aria-hidden="true"></span> &nbsp; Cobros
                        </NavLink>
                    </li>

                    <li class="nav-fill px-1">
                        <NavLink class="nav-link" href="ConsultaProductos" @onclick="Ocultar">
                            &nbsp; &nbsp; <span class="fa fa-store" aria-hidden="true"></span> &nbsp; Productos
                        </NavLink>
                    </li>

                    <li class="nav-fill px-1">
                        <NavLink class="nav-link" href="ConsultaMarcas" @onclick="Ocultar">
                            &nbsp; &nbsp; <span class="fab fa-slack" aria-hidden="true"></span> &nbsp; Marcas
                        </NavLink>
                    </li>

                    <li class="nav-fill px-1">
                        <NavLink class="nav-link" href="ConsultaCompraProductos" @onclick="Ocultar">
                            &nbsp; &nbsp; <span class="fa fa-cart-plus" aria-hidden="true"></span> &nbsp; Compra productos
                        </NavLink>
                    </li>

                    <li class="nav-fill-down px-1">
                        <NavLink class="nav-link" href="ConsultaVentaProductos" @onclick="Ocultar">
                            &nbsp; &nbsp; <span class="fa fa-shopping-bag" aria-hidden="true"></span> &nbsp; Venta productos
                        </NavLink>
                    </li>
                </ul>
            }
        </li>
    </ul>
</div>

<div class="card-footer text-center" style=" position: absolute; bottom: 0; display: flex; width:100%">
    <LoginControl/>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool expandirRegistrosMenu = false;
    private bool expandirConsultasMenu = false;
    private bool expandirReportesMenu = false;
    string imgRegistros = "fas fa-chevron-left";
    string imgConsultas = "fas fa-chevron-left";
   
    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void Ocultar()
    {
        expandirRegistrosMenu = false;
        expandirConsultasMenu = false;
        expandirReportesMenu = false;
        imgRegistros = "fas fa-chevron-left";
        imgConsultas = "fas fa-chevron-left";
    }

    private void ToggleRegistrosMenu()
    {
        expandirRegistrosMenu = !expandirRegistrosMenu;
        imgRegistros = "fas fa-chevron-down";
        imgConsultas = "fas fa-chevron-left";
        expandirConsultasMenu = false;
        expandirReportesMenu = false;

        if(expandirRegistrosMenu == false)
        {
            imgRegistros = "fas fa-chevron-left";
        }
    }

    private void ToggleConsultasMenu()
    {
        expandirConsultasMenu = !expandirConsultasMenu;
        imgConsultas = "fas fa-chevron-down";
        imgRegistros = "fas fa-chevron-left";
        expandirRegistrosMenu = false;
        expandirReportesMenu = false;

        if (expandirConsultasMenu == false)
        {
            imgConsultas = "fas fa-chevron-left";
        }
    }

    private void ToggleReportesMenu()
    {
        expandirReportesMenu = !expandirReportesMenu;
        expandirRegistrosMenu = false;
        expandirConsultasMenu = false;
    }
}
