@page "/UserNotExist"
    <form>
        <div class="card card-shadow text-center">
            <div class="card-header bg-danger text-lg-center" style="border-radius:5px; width:100%">
                <h3 style="font-family:Georgia; color:white">Datos incorrectos</h3>
            </div>
            <div class="card-body" style="margin-top:25%">
                <h4>
                    <span class="fa fa-exclamation-triangle" style="color:#ffcc00; font-size:25px"></span> &nbsp; Atención &nbsp;
                    <span class="fa fa-exclamation-triangle" style="color:#ffcc00; font-size:25px"></span>
                </h4>
                <h6>¡Usuario o contraseña incorrectos!</h6>

            </div>
            <div class="card card-footer" style="width:100%;">
                <a href="LogInPage" class="btn btn-outline-info" style="border-radius: 10px">
                    <span class="fa fa-undo"></span> Ir al login
                </a>
            </div>
        </div>        
    </form>
