@page "/ConsultaClientes"

@using BLL
@using Models  

@inject IToastService toast

<h3>Consulta de Clientes</h3>

<div class="card">
    <div class="card-header">
        @*Filtro*@
        <div class="form-group">
            <label>Filtro</label>
            <select class="browser-default custom-select" @bind="Filtro">
                <option value="0" disabled>Seleccione una opcion</option>
                <option value="1">Todos</option>
                <option value="2">ID</option>
                <option value="3">Nombres</option>
                <option value="4">Apellidos</option>
                <option value="5">Teléfono</option>
                <option value="6">Celular</option>
                <option value="7">Cédula</option>
                <option value="8">Dirección</option>
            </select>
        </div>

        @*Criterio*@
        <div class="form-group">
            <label>Criterio</label>
            <input type="text" @bind="Criterio" class="form-control"/>
        </div>
        <button type="button" class="btn btn-primary" @onclick="Consultar">Consultar</button>
    </div>

    @*Tabla*@
    <div class="card-body">
        <table class="table">
            <tr>
                <td>ID</td>
                <td>Nombres</td>
                <td>Apellidos</td>
                <td>Teléfono</td>
                <td>Celular</td>
                <td>Cédula</td>
                <td>Dirección</td>
            </tr>

            @foreach (var item in Lista)
            {
                <tr>
                    <td>@item.ClienteId</td>
                </tr>
            }
        </table>
    </div>

    <div class="card-footer">
        <div class="form-group">
            <label>Total de clientes: @Total</label>
        </div>
    </div>
</div>

@code {
    public int Total { get; set; }
    public int Filtro { get; set; }
    public string Criterio { get; set; }

    private List<Clientes> Lista = new List<Clientes>();

    public RepositorioBase<Clientes> repositorio = new RepositorioBase<Clientes>();

    public void Consultar()
    {
        var listado = new List<Clientes>();

        if(Criterio.Trim().Length > 0)
        {
            switch(Filtro)
            {
                case 1:
                    listado = repositorio.GetList(c => true);
                    break;

                case 2:
                    int id = Convert.ToInt32(Criterio);
                    listado = repositorio.GetList(c => c.ClienteId == id);
                    break;

                case 3:
                    listado = repositorio.GetList(c => c.Nombres.Contains(Criterio));
                    break;

                case 4:
                    listado = repositorio.GetList(c => c.Apellidos.Contains(Criterio));
                    break;

                case 5:
                    listado = repositorio.GetList(c => c.Telefono.Contains(Criterio));
                    break;

                case 6:
                    listado = repositorio.GetList(c => c.Celular.Contains(Criterio));
                    break;

                case 7:
                    listado = repositorio.GetList(c => c.Cedula.Contains(Criterio));
                    break;

                case 8:
                    listado = repositorio.GetList(c => c.Direccion.Contains(Criterio));
                    break;
            }
        }
        else
        {
            listado = repositorio.GetList(p => true);
        }

        Lista = null;
        Lista = listado;
        calcularTotal();
    }

    public void calcularTotal()
    {
        Total = 0;

        foreach (var item in Lista)
        {
            Total++;
        }
    }
}
