@page "/LogInPage"
@inject IToastService toast

<EditForm Model="Usuario">
    <div class="card border-dark text-lg-center" style="align-items: center; width:40%; margin-top:10%; margin-left:30%; border-radius: 15px">

        <div class="login align-content-center" style="text-align: center; position: relative; width: 280px;">
            <i class="fa fa-user-lock" style="color: #009900; font-weight: 600; font-size:70px; margin-bottom:20px; margin-top:15px"></i>
            <h2 style="font-family:Georgia; color: #444">Login</h2>

            @*Usuario*@
            <div class="group" style="margin-bottom:10px; position:relative">
                <input type="text" @bind="Usuario.NombreUsuario" placeholder='Username' style="width: 100%; border: 0; border-radius: 20px; border-bottom: 2px solid #444;
                        padding: 12px 40px 12px 20px;">
                <i class="fa fa-user" style="color: #009900; font-size: 13.3333px; font-weight: 600; position:absolute; top:15px; right:20px"></i>
            </div>

            @*Contraseña*@
            <div class="group" style="margin-bottom:10px; position:relative">
                <input type="Password" @bind-value="Usuario.ClaveUsuario" placeholder="Password" style="width: 100%; border: 0; border-radius: 20px; border-bottom: 2px solid #444;
                        padding: 12px 40px 12px 20px;">
                <i class="fa fa-lock" style="color: #009900; font-size: 13.3333px; font-weight: 600; position:absolute; top:15px; right:20px"></i>
            </div>
            <a class="btn btn-success" style="width: 100%; border: 0; border-radius: 20px; padding:12px; background-image: linear-gradient(to right, #4dff4d, #006600);"
               href="/login?Usuario=@Encode(Usuario.NombreUsuario)&Clave=@Encode(Usuario.ClaveUsuario)" @onmouseover="ValidarCampos">
                <i class="fa fa-sign-in-alt" aria-hidden="true" /> &nbsp; Iniciar sesión
            </a>

            <a class="btn btn-success" style="width: 100%; border: 0; border-radius: 20px; padding:12px; background-image: linear-gradient(to right,   #80aaff, #003399); margin-top:10px;"
               href="/">
                <i class="fa fa-undo" aria-hidden="true" /> &nbsp; Volver al inicio
            </a>

            <p class="fs" style="margin-top:10px">
                Forgot
                <a href="#">Username</a> / <a href="#">Password</a>?
            </p>
        </div>
    </div>

    <style>
        button{
            cursor:pointer;
        }

        input:focus, input:focus::placeholder, input:focus+i {
            color: #009900;
        }

        input:hover, input:hover::placeholder, input:hover + i {
            color: #009900;
        }

        input:focus, button:focus{
            outline:0;
        }
    </style>
</EditForm>

@code {
    Usuarios Usuario = new Usuarios();

    protected override void OnInitialized()
    {
        Usuario = new Usuarios();
    }

    private string Encode(string param)
    {
        return HttpUtility.UrlEncode(param);
    }

    private void ValidarCampos()
    {
        if (string.IsNullOrEmpty(Usuario.NombreUsuario) || string.IsNullOrEmpty(Usuario.NombreUsuario))
        {
            toast.ShowError("Los campos no pueden estar vacios");
        }
    }
}